mat-form-field{
  width: 100%;
}

mat-spinner{
  margin: auto;
}
.LoginForm{

}
.LoginCard{
  margin-top: 8rem;
  border: black;
  width:75%;
  text-align: left;
}

.loginCardWrapper{
  text-align: -webkit-center;
}
