<mat-card class="LoginCard">
  <mat-spinner *ngIf="Loading"></mat-spinner>
  <form class="LoginForm" (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!Loading">
    <h1 class="mat-display-2">Login</h1>
    <!--     email Input-->
    <mat-form-field>
      <input matInput type="email"
             name="email"
             ngModel
             placeholder="Email"
             #emailInput="ngModel"
             required
             hintLabel="Least 10 characters :)"
             email>
      <mat-error *ngIf="emailInput.invalid">Please Enter a Valid Email</mat-error>
    </mat-form-field>

    <!--    password input-->
    <mat-form-field>
      <input matInput type="password"
             name="password"
             ngModel
             placeholder="Password"
             #passwordInput="ngModel"
             required>
      <mat-error *ngIf="passwordInput.invalid">Please Enter a Valid Password</mat-error>
    </mat-form-field>

    <!--    login button-->
    <button mat-raised-button
            color="accent"
            type="submit"
            *ngIf="!Loading">Login
    </button>

  </form>
</mat-card>
