mat-form-field{
  width: 100%;
}

mat-spinner{
  margin: auto;
}

.signupCard{
  margin-top: 8rem;
  width: 75%;
  text-align: left;
  background-color:  #f0fff0;
  color: black;
}

.signupCardWrapper{
  text-align: -webkit-center;
}
