<!-- <h1>i am the post create component</h1> -->


<mat-card>
 <mat-spinner *ngIf="Loading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!Loading">

    <mat-form-field>
      <input matInput type="text"
             formControlName="title"
             placeholder="Posts Title*">
      <mat-error *ngIf="form.get('title').invalid">please enter a valid title</mat-error>

    </mat-form-field>

    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()" > Choose File! </button>
      <input type="file" #filePicker (change)="onFilePicked($event)">
    </div>

    <mat-form-field>

      <textarea matInput rows="6"
                formControlName="content"
                placeholder="Posts Content"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Content is invalid</mat-error>

    </mat-form-field>

    <button mat-raised-button color="accent"
            type="submit">Save post
    </button>

  </form>

</mat-card>
