
:host {
  margin-top: 1rem;
}

.info-text{
  text-align: center;
}

mat-spinner{
  margin: auto;
}
.post-file{
  width:100%;
}

.post-file img{
  width:100%;

}

mat-paginator{
  margin-top:1rem ;
}
