
:host {
  margin-top: 1rem;
}

.info-text{
  text-align: center;
}

mat-spinner{
  margin: auto;
}
.post-file{
  width:100%;
}

.post-file img{
  width:100%;
  height: 300px;

}

mat-paginator{
  margin-top:1rem ;
}

.homecard{

  background-color: #8c8d95;
  text-align: center;
  /*padding: 10%;*/
  width: 100% !important;
  margin-bottom:2rem ;
}
.homecardwrapper{
  width: 100%;
}

.ListAccordion{
  /*width: 50%;*/
  text-align: center;
}

.ListExpansionPanel{
  width: 50%;
  text-align: center;
  display: inline-block;
}

.panelWrapper{
  /*justify-content: center;*/
  text-align: center;
}

